{% extends "layout.html" %}
{% block body %}
<!-- Start About area -->
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center margin: 23px">
            <br>
            <h2>About Us</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
								  <img src="{{ url_for('static', filename ='img/about/1.jpg')}}" alt="">
								</a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <h4 class="sec-head">We provide a one-stop solution for all of your shipping and transportation needs.</h4>
              </a>
              <p>
                ARC Transport was founded by Vimal Bishnoi, a five-year Transport industry veteran, to provide people with a friendly, simple, and streamlined approach to taking care of all your shipping needs. We offer a full suite of transportation and logistics services throughout India.
              </p>
                <p>
                The combined experience of the ARC management team, along with our open and honest approach to communication and customer relations, has shaped ARC into who we are today.
              </p>
              <ul>
                <li>
                  <i class="fa fa-check"></i> Our dedicated team of skilled logistics and trucking professionals
                </li>
                <li>
                  <i class="fa fa-check"></i> Our commitment to safety and certifications
                </li>
                <li>
                  <i class="fa fa-check"></i> Our top-notch facilities and equipment
                </li>
                <li>
                  <i class="fa fa-check"></i> Our logistics and fleet management technology
                </li>
                <li>
                  <i class="fa fa-check"></i> Our drive to change and improve the trucking industry
                </li>
                <li>
                  <i class="fa fa-check"></i> 24 x 7 client service
                </li>
                <li>
                  <i class="fa fa-check"></i> Cost effective
                </li>
                <li>
                  <i class="fa fa-check"></i> Customized solutions for packaging and dispatch plans
                </li>
                <li>
                  <h6>Interested in working with the ARC team? <a href="#">Contact us today.</a></h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->

  <!-- our-skill-area start -->
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12"> -->
    <div class="section-headline text-center">
      <h2>Why Choose Us?</h2>
<!-- </div>     -->
  <div class="our-skill-area fix hidden-sm">
    <div class="test-overly"></div>
    <div class="skill-bg area-padding-2">
      <div class="container">
        <!-- section-heading end -->
        <div class="row">
          <div class="skill-text">
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="90" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4"> On-Time Delivery Rate</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="99" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">Accurate Shipment Tracking</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="98" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">Safe, Reliable Dispatch Rate</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="99" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">Customer Support</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- our-skill-area end -->

  

<!-- Faq area start -->
  <div class="faq-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>What We Stand For</h2>
          </div>
        </div>
      </div>
      
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="tab-menu">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="active">
                <a href="#p-view-1" role="tab" data-toggle="tab">Our Mission</a>
              </li>
              <li>
                <a href="#p-view-2" role="tab" data-toggle="tab">Our Vision</a>
              </li>
              <li>
                <a href="#p-view-3" role="tab" data-toggle="tab">Our Quality</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="p-view-1">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <h4>Mission</h4>
                  <p>
                    Our people, processes, and technology improve the world’s transportation and supply chains, delivering exceptional value to our customers and suppliers.
                  </p>
                  <p>
                    We want to be the best Transport, logistic & Air service provider where complete customer satisfaction is our prime aim. We keep our promises and admit our mistakes. Our personal conduct ensures that We will be there to deliver your future.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-2">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <h4>Vision</h4>
                  <p>
                    Our vision is to bring compelling value through outsourcing. Accelerating commerce through the India’s most powerful Transportation platform.
                  </p>
                  <p>
                    One of our values is that all employees are held to the highest standards of veracity. We are honest and ethical in all our business dealings, starting with how we treat one another.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-3">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <h4>Quality</h4>
                  <p>
                    We are one of the most dominant participant  in the market. And our position is competently based on the perfection of the services we offer. All our services are rendered by vocationally trained professionals who are especially trained in their respective arena of activity.
                  </p>
                  <p>
                    Arc's people embody our core values of trust, Safety, Respect, expertise, Winning Attitude, and Accountability.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="faq-details">
            <div class="panel-group" id="accordion">
            <div class="tab-menu">
            <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                  <a href="#p-view-4" role="tab" data-toggle="tab">Value Added Ser..</a>
                </li>
                <li>
                  <a href="#p-view-5" role="tab" data-toggle="tab">Leadership Team</a>
                </li>
                <li>
                  <a href="#p-view-6" role="tab" data-toggle="tab">Sustainability</a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane active" id="p-view-4">
                <div class="tab-inner">
                  <div class="event-content head-team">
                    <h4>Value Added Services</h4>
                    <p>
                    Our people, processes, and technology improve the world’s transportation and supply chains, delivering exceptional value to our customers and suppliers.
                  </p>
                  <p>
                    Our vision is to bring compelling value through outsourcing. Accelerating commerce through the India’s most powerful Transportation platform.
                  </p>
                  <p>
                    
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-5">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <h4>Planning</h4>
                  <p>
                    At the head of our company, we have some of the most knowledgeable and experienced leaders in the industry, all dedicated to growing customers’ business in the most effective way possible
                  </p>
                  <p>
                    Experience & Expertise in transportation of Full Load & Part Load (LTL) Consignments across the nation, Tracked by GPS Tracking of vehicles on all major routes and long distance routes
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-6">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <h4>Success</h4>
                  <p>
                    Our commitment to sustainability helps us reduce waste and share the benefits with our customers. It pervade  the way we do business, operate us to innovate and be creative in everything from operations to transportation, from solution design to procure policy.
                  </p>
                  <p>
                    As ARC is working together with a large number of Customers, it is important to create close and collaborative relationship with them and to ensure that we deliver service standards that satisfy the needs of both our business and the customers.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- end Row -->
  </div>
</div>
  <!-- End Faq Area -->
<div>.</div>
  <!-- Start Wellcome Area -->
  <div class="wellcome-area">
    <div class="well-bg">
      <div class="test-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wellcome-text">
              <div class="well-text text-center">
                <h2>Welcome to Arambh Road Carriers (Regd.)</h2>
                <p>
                  Subscribe to with your email and get serve by Arc team.
                </p>
                <div class="subs-feilds">
                  <div class="suscribe-input">
                    <input type="email" class="email form-control width-80" id="sus_email" placeholder="Email">
                    <button type="submit" id="sus_submit" class="add-btn width-20">Subscribe</button>
                    <div id="msg_Submit" class="h3 text-center hidden"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Wellcome Area -->

  <!-- Start team Area -->
  <div id="team" class="our-team-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>What We Offer</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="team-top">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="/services">
                    <img src="{{ url_for('static', filename ='img/team/1.jpg')}}" alt="">
                  </a>
                
              </div>
              <div class="team-content text-center">
                <h4>Surface Service</h4>               
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="/services">
                    <img src="{{ url_for('static', filename ='img/team/2.jpg')}}" alt="">
                  </a>            
              </div>
              <div class="team-content text-center">
                <h4>Air Service</h4>                
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="/services">
                    <img src="{{ url_for('static', filename ='img/team/3.jpg')}}" alt="">
                  </a>                
              </div>
              <div class="team-content text-center">
                <h4>Rail Service</h4>                
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <a href="/services">
                    <img src="{{ url_for('static', filename ='img/team/4.jpg')}}" alt="">
                  </a>                
              </div>
              <div class="team-content text-center">
                <h4>Warehouse Services</h4>                
              </div>
            </div>
          </div>
          <!-- End column -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Team Area -->

  <!-- Start reviews Area -->
  <div class="reviews-area hidden-xs">
    <div class="work-us">
      <div class="work-left-text">
        <a href="#">
            <img src="{{ url_for('static', filename ='img/about/2.jpg')}}" alt="">
          </a>
      </div>
      <div class="work-right-text text-center">
        <h2>working with us</h2>
        <h5>LESS-THAN-TRUCKLOAD (LTL) AND FULL TRUCKLOAD (FTL) GOODS SHIPMENTS</h5>
        <a href="/contact" class="ready-btn">Contact us</a>
      </div>
    </div>
  </div>
  <!-- End reviews Area -->

  
  <div>.</div>
  <br>
   <br>
    <br>
  
   {% endblock %}