{% extends "layout.html" %}
{% block body %}
<!-- Start About area -->
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center margin: 23px">
            <br>
            <h2>Our Network</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
                  <img src="{{ url_for('static', filename ='img/about/map_india.jpg')}}" alt="">
                </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#">
                <h4 class="sec-head">We provide a one-stop solution for all of your shipping and transportation needs.</h4>
              </a>
              <p>
                ARC Transport was founded by Vimal Bishnoi, a five-year Transport industry veteran, to provide people with a friendly, simple, and streamlined approach to taking care of all your shipping needs. We offer a full suite of transportation and logistics services throughout India.
              </p>
                <p>
                The combined experience of the ARC management team, along with our open and honest approach to communication and customer relations, has shaped ARC into who we are today.
              </p>
              <ul>
                <li>
                  <i class="fa fa-truck"></i> Services spread across 23 states & 4 Union Territories
                </li>
                <li>
                  <i class="fa fa-truck"></i> Over 500+ destinations, spread across states & union territories of India
                </li>
                <li>
                  <i class="fa fa-truck"></i> Our top-notch facilities and equipment
                </li>
                <li>
                  <i class="fa fa-truck"></i> Our logistics and fleet management technology
                </li>
                <li>
                  <i class="fa fa-truck"></i> Our drive to change and improve the trucking industry
                </li>
                <li>
                  <h6>Interested in working with the ARC team? <a href="#">Contact us today.</a></h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->

  

  

  <!-- Start Suscrive Area -->
  <div class="suscribe-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
          <div class="suscribe-text text-center">
            <h3>Welcome to Arambh Road Carriers (Regd.)</h3>
            <a class="sus-btn" href="/enquiry">Get A quate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  <!-- start pricing area -->
  <div id="pricing" class="pricing-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Our Presense -States</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pri_table_list active">
            <h3>State And Service <br/> <span>Booking / Delivery</span></h3>
            <ol>
              <li class="check">Delhi</li>
              <li class="check">  Andhra Pradesh</li>
              <li class="check">Chhattisgarh</li>
              <li class="check">Goa</li>
              <li class="check">Gujarat</li>
              <li class="check">Haryana</li>
              <li class="check">Himachal Pradesh</li>
              <li class="check">Jammu and Kashmir</li>
            </ol>
            <button>Book now</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pri_table_list active">
            <!-- <span class="saleon">top sale</span> -->
            <h3>State And Service <br/> <span>Booking / Delivery</span></h3>
            <ol>
              <li class="check">Jharkhand</li>
              <li class="check">Karnataka</li>
              <li class="check">Kerala</li>
              <li class="check">Madhya Pradesh</li>
              <li class="check">Uttar Pradesh</li>
              <li class="check">Uttarakhand</li>
              <li class="check">Daman and Diu</li>
              <li class="check">Puducherry (Pondicherry)</li>
            </ol>
            <button>Book now</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="pri_table_list active">
            <h3>State And Service <br/> <span>Booking / Delivery</span></h3>
            <ol>
              <li class="check">Maharashtra</li>
              <li class="check">Punjab</li>
              <li class="check">Rajasthan</li>
              <li class="check">Tamil Nadu</li>
              <li class="check">Telangana</li>
              <li class="check">  West Bengal</li>
              <li class="check">Odisha</li>
              <li class="check">Mizoram</li>
            </ol>
            <button>Book now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End pricing table area -->
  
   {% endblock %}