{% extends "layout.html" %}
{% block body %}


<!-- Start Testimonials -->
  <div class="testimonials-area">
    <div class="testi-inner area-padding">
      <div class="testi-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Start testimonials Start -->
            <div class="testimonial-content text-center">
              <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
              <!-- start testimonial carousel -->
              <div class="testimonial-carousel">
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      FTL will take your items on a long haul, meaning it will go straight to its destination, making no extra stops. We ensure that your material is being shipped safely, securely, and on time.
                    </p>
                    <h6>FTL</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      Our experts are here to make your life easier and will help you make the right decision for your next shipment. Our shipping services are geared toward.
                    </p>
                    <h6>PTL</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      Less-Than-Truckload (LTL) shipping is the transportation of relatively small freight that accommodates single pallet shipments to an almost full truckload. 
                    </p>
                    <h6>LTL</h6>
                  </div>
                </div>
                <!-- End single item -->
              </div>
            </div>
            <!-- End testimonials end -->
          </div>
          <!-- End Right Feature -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Testimonials -->
  
          
  
<!-- Start portfolio Area -->
  <div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center mt-3">
            <br>
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start Portfolio -page -->
        <div class="awesome-project-1 fix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="awesome-menu ">
              <ul class="project-menu">
                <li>
                  <a href="#" class="active" data-filter="*">All Services</a>
                </li>
                <li>
                  <a href="#" data-filter=".ftl">Full Truck Load</a>
                </li>
                <li>
                  <a href="#" data-filter=".part">Parcel Load</a>
                </li>
                <li>
                  <a href="#" data-filter=".air">Rail-Air Cargo</a>
                </li>
                <li>
                  <a href="#" data-filter=".dly">Pickup-Delivery</a>
                </li>
                <li>
                  <a href="#" data-filter=".odc">ODC & Project</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="awesome-project-content">
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12  ftl">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{ url_for('static', filename ='img/portfolio/Ftl1.jpg')}}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{ url_for('static', filename ='img/portfolio/ftl1.jpg')}}">
                      <h4>Full Truck Load</h4>
                      <span>We carreing FTL is fast and secure Delivery to your buyer in lowest cost</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 ftl">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{ url_for('static', filename ='img/portfolio/Ftl2.jpg')}}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{ url_for('static', filename ='img/portfolio/2.jpg')}}">
                      <h4>Full Container Loads</h4>
                      <span>We load directly by the Shiper and direct deliver to Buyer with offer customers reliable, flexible & cost efficient transportation.</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 part">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{ url_for('static', filename ='img/portfolio/Ptl1.jpg')}}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{ url_for('static', filename ='img/portfolio/Ptl2.jpg')}}">
                      <h4>Part Load Services</h4>
                      <span>Best Part Load Service provider in India.  Part Loads Services, Pan India Transport Services Provider.</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 part">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{ url_for('static', filename ='img/portfolio/Ptl2.jpg')}}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{ url_for('static', filename ='img/portfolio/4.jpg')}}">
                      <h4>Parcel Load Services</h4>
                      <span>Arc provides Sundry and Part load distribution services for a varied client base.</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 air">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{ url_for('static', filename ='img/portfolio/train1.jpg')}}" alt="" /></a>
                <div class="add-actions text-center text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{ url_for('static', filename ='img/portfolio/train1.jpg')}}">
                      <h4>Rail Cargo</h4>
                      <span>Container Fumigation Services, Container Clearance Services, Container Booking Services, Railway Logistic Services, Container Transport Services, Container Shipping Services. </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 air">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{ url_for('static', filename ='img/portfolio/air1.jpg')}}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{ url_for('static', filename ='img/portfolio/air1.jpg')}}">
                      <h4>Air Cargo</h4>
                      <span>Making a change for better, we have gained an immense expertise in offering excellent Air Cargo Service to our Customers. Either, it is a raw material, any equipment or other thing.</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 dly">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{ url_for('static', filename ='img/portfolio/dly1.jpg')}}" alt="" /></a>
                <div class="add-actions text-center text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{ url_for('static', filename ='img/portfolio/dly1.jpg')}}">
                      <h4>Pickup</h4>
                      <span>Transport your goods sequrlly, Our aim is that they reach the buyer on time. </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 dly">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{ url_for('static', filename ='img/portfolio/dly2.jpg')}}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{ url_for('static', filename ='img/portfolio/dly2.jpg')}}">
                      <h4>Delivery</h4>
                      <span>We Ensure that Your Goods Arrive On Time.</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 odc">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{{ url_for('static', filename ='img/portfolio/odc1.jpg')}}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="venobox" data-gall="myGallery" href="{{ url_for('static', filename ='img/portfolio/odc1.jpg')}}">
                      <h4>ODC & Project</h4>
                      <span>Transportation of Project machinery and material (Heavy & Odd Dimensional Cargo) from inception to erection and commission irrespective of destination. Leveraging on our vast industry knowledge, we are providing Industrial Goods Transportation Services.</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- awesome-portfolio end -->  


<!-- Start Left Blog -->
<!-- Start Blog Area -->
  <div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
      <div class="blog-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>A SUBSTITUTE FOR COMPLETE TRANSPORT COMPETENCE</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <a href="blog.html">
                    <img src="{{ url_for('static', filename ='img/blog/1.jpg')}}" alt="">
                  </a>
              </div>
              <div class="blog-meta">
                
              </div>
              <div class="blog-text">               
                <h4>SERFACE SERVICES</h4>            
               
                <p>
                  Our quick, fast & reliable transportation provides best transport solution that perfectly caters to the needs of our clients based all across India. We pick up your cargo from your doorstep and deliver it at the doorstep of your recipient within the time schedule. Superior Parcel, FTL & ODC Project Service which offers safe and timely delivery of your consignments to distributors, wholesalers, retailers and ultimate users. We are amongst the topnotch transport service provider of industry that provides excellent Road Parcel and Cargo Services to our clients so that timely delivery is assured.
                </p>
              </div>
              <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
            </div>
            <!-- Start single blog -->
          </div>
          <!-- End Left Blog-->
          <!-- Start Left Blog -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <a href="blog.html">
                    <img src="{{ url_for('static', filename ='img/blog/2.jpg')}}" alt="">
                  </a>
              </div>
              <div class="blog-meta">
                
              </div>
              <div class="blog-text">
                  <h4>RAIL CARGO SERVICES</h4> 
                <p>
                  We are widely appreciated in the market for offering complete Transportation Services to the esteemed customers.
                  Expertise in transportation of Inidan Railways Containers Consignments across the nation, backed by rich industry experience, we are engaged in providing service for Railway Transportation Services in India. We are capable of handling exacting cargoes and bulk goods to their destination with ease and within the committed time frame.
                </p>
              </div>
              <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
            </div>
            <!-- Start single blog -->
          </div>
          <!-- End Left Blog-->
          <!-- Start Right Blog-->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <a href="blog.html">
                    <img src="{{ url_for('static', filename ='img/blog/3.jpg')}}" alt="">
                  </a>
              </div>
              <div class="blog-meta">
                
              </div>
              <div class="blog-text">
                <h4>AIR CARGO SERVICES</h4>
                 <p>
                  Arambh Road Carriers (Regd.) is leading Air Cargo service provider & Transport Company in India deals in heavy goods transport from Indian cities to international locations. We are expert in reliable International Household Goods Moving Services. Due to our best services offered in this industry, we have gained a rich experience in air, cargo movement
                </p>
              </div>
              <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
            </div>
          </div>
          <!-- End Right Blog-->
        </div>
      </div>
    </div>
  </div>
  <!-- End Blog -->
  <!-- Start Suscrive Area -->
  <div class="suscribe-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
          <div class="suscribe-text text-center">
            <h3>Welcome to Arambh Road Carriers</h3>
            <a class="sus-btn" href="#">Get A quate</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Start Service area -->
  <div id="services" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Transportation Services, Coast To Coast</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa  fa-truck"></i>
										</a>
                  <h4>Customized Solutions</h4>
                  <p>
                    We leverage our transport technology with you to create industry-specific solutions, custom fit your business.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa fa-truck"></i>
										</a>
                  <h4>Where We Service</h4>
                  <p>
                    With a wide network of carrier across India, we’re able to connect you with the consignee you need to deliver your goods to their destination.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa  fa-truck"></i>
										</a>
                  <h4>Real-Time Shipment Visibility</h4>
                  <p>
                    Our Company not only provides complete shipment visibility from the first mile to the last, but we also predict in-transit disruptions and pro-actively determine the best course of action.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa  fa-truck"></i>
										</a>
                  <h4>Seamlessly Move Your Shipment </h4>
                  <p>
                    Dispatch your material within the States and Interstate of India with our transportation services.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa  fa-truck"></i>
										</a>
                  <h4>Expedited FTL</h4>
                  <p>
                    When time is of the essence, our FTL option gets your freight to its destination without making unnecessary stops and ensuring on-time delivery.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa  fa-truck"></i>
										</a>
                  <h4>24/7 Support</h4>
                  <p>
                    will have to make sure the prototype looks finished by inserting text or photo.make sure the prototype looks finished by.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Service area -->

    {% endblock %}